doctype html
html.h-100(lang="en")
  head
    title= Title
    link(href=assetPath('main.css') rel="stylesheet")
  body.h-100
    .container-lg.h-100.p-3
      .h-100#chat
    footer.footer
      .container-xl
        .text-center developed by 
          a(href='https://github.com/fluxet') Fluxet

    script(src=assetPath('main.js'))
